DISCORD_BOT_TOKEN=coloque_seu_token_aqui
DISCORD_CLIENT_SECRET=coloque_seu_client_secret_aqui
NEXT_PUBLIC_SUPABASE_URL=https://ldkddvaomxthgnjtahob.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key
UPDATE_LOG_CHANNEL_ID=14977767502333912041
UPDATE_NOTIFY_ROLE_ID=1201235607549124639
BOT_ENV=production
BOT_VERSION=1.0.0
TWITCH_CLIENT_ID=coloque_o_client_id_da_twitch
TWITCH_CLIENT_SECRET=coloque_o_client_secret_da_twitch
